<!DOCTYPE html>
<html lang="en">
    <!-- Basic -->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>Activities - Laracultura NGO</title>
        <link rel="shortcut icon" href="images\logo01.png" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="author" content="amine l3ribi" />

        <!-- Site Icons -->
        <link
            rel="shortcut icon"
            href="images/favicon.ico"
            type="image/x-icon"
        />
        <link rel="apple-touch-icon" href="images/apple-touch-icon.png" />

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <!-- Site CSS -->
        <link rel="stylesheet" href="css/style.css" />
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="css/responsive.css" />
        <!-- Custom CSS -->
        <link rel="stylesheet" href="css/custom.css" />
    </head>

    <body>
        <!-- Start header -->
        <header class="top-navbar">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <a class="navbar-brand" href="/">
                        <img src="images/logo.png" alt="" />
                    </a>
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbars-rs-food"
                        aria-controls="navbars-rs-food"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbars-rs-food">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="members">members</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="about">About</a>
                            </li>

                            <li class="nav-item dropdown active">
                                <a
                                    class="nav-link dropdown-toggle"
                                    href="#"
                                    id="dropdown-a"
                                    data-toggle="dropdown"
                                    >activities</a
                                >
                                <div
                                    class="dropdown-menu"
                                    aria-labelledby="dropdown-a"
                                >
                                    <a class="dropdown-item" href="English-club"
                                        >English club</a
                                    >
                                    <a
                                        class="dropdown-item"
                                        href="discovery-workshop"
                                        >discovery workshop</a
                                    >
                                    <a class="dropdown-item" href="chnibanlk"
                                        >chnibanlk</a
                                    >
                                    <a
                                        class="dropdown-item"
                                        href="OpenMiCultural"
                                        >Open MiCultural</a
                                    >
                                    <a class="dropdown-item" href="Philo-club"
                                        >Philo Club</a
                                    >
                                    <a
                                        class="dropdown-item active"
                                        href="Erasmus+"
                                        >Erasmus+</a
                                    >
                                    <a class="dropdown-item" href="ESC">ESC</a>
                                    <a
                                        class="dropdown-item"
                                        href="M'zora-Caravan"
                                        >M'zora Caravan</a
                                    >
                                    <a
                                        class="dropdown-item"
                                        href="Shumis-cinema-festival"
                                        >Shumis cinema festival</a
                                    >
                                    <a
                                        class="dropdown-item"
                                        href="Tlila-Podcast"
                                        >Tlila Podcast</a
                                    >
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact">Contact</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a
                                    class="nav-link dropdown-toggle"
                                    href="#"
                                    id="dropdown-a"
                                    data-toggle="dropdown"
                                    >eng</a
                                >
                                <div
                                    class="dropdown-menu"
                                    aria-labelledby="dropdown-a"
                                >
                                    <a class="dropdown-item" href="ar/index"
                                        >arabic</a
                                    >
                                    <a class="dropdown-item" href="fr/index"
                                        >franch</a
                                    >
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <!-- End header -->

        <!-- Start All Pages -->
        <div class="all-page-title page-breadcrumb">
            <div class="container text-center">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Our Activities</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- End All Pages -->

        <!-- Start blog details -->
        <div class="blog-box">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="heading-title text-center">
                            <h2>Erasmus+</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-12">
                        <div class="blog-inner-details-page">
                            <div class="blog-inner-box">
                                <div class="side-blog-img">
                                    <img
                                        class="img-fluid"
                                        src="images/slider-02.jpg"
                                        alt=""
                                    />
                                </div>
                                <div class="inner-blog-detail details-page">
                                    <ul>
                                        <li>
                                            <i class="zmdi zmdi-account"></i
                                            >Posted By :
                                            <span>Amine EL ARIBI</span>
                                        </li>
                                    </ul>
                                    <p>
                                        Erasmus+, a flagship initiative of the
                                        European Union, stands as a dynamic and
                                        transformative program dedicated to
                                        fostering collaboration, mobility, and
                                        innovation in the realms of education,
                                        training, youth, and sports. With a
                                        broad scope and a commitment to
                                        excellence, Erasmus+ serves as a
                                        catalyst for the development of skills,
                                        the enhancement of employability, and
                                        the promotion of cultural understanding
                                        and cooperation within and beyond the EU
                                        borders.
                                    </p>
                                    <p>
                                        At its core, Erasmus+ champions the idea
                                        that education knows no boundaries. It
                                        opens doors for individuals to embark on
                                        life-changing experiences, offering
                                        opportunities to study, train, and gain
                                        invaluable work experience abroad.
                                        Whether through academic pursuits,
                                        vocational training, or youth
                                        initiatives, Erasmus+ empowers
                                        individuals to broaden their horizons,
                                        enrich their perspectives, and develop a
                                        global mindset that transcends
                                        geographical constraints.
                                    </p>
                                    <blockquote>
                                        <p>
                                            Beyond individual endeavors,
                                            Erasmus+ extends its support to
                                            organizations, providing funding for
                                            transnational projects in the fields
                                            of education, training, and youth.
                                            This strategic investment fuels
                                            collaborations that drive
                                            innovation, sharing best practices
                                            and fostering a collective effort to
                                            address shared challenges. The
                                            program serves as a catalyst for the
                                            creation of dynamic networks,
                                            encouraging the exchange of
                                            knowledge and expertise among
                                            institutions, educators, and youth
                                            organizations.
                                        </p>
                                    </blockquote>
                                    <p>
                                        In essence, Erasmus+ embodies the EU's
                                        commitment to building a more connected,
                                        knowledgeable, and culturally enriched
                                        society. By facilitating mobility,
                                        encouraging cooperation, and investing
                                        in the development of individuals and
                                        organizations, Erasmus+ plays a pivotal
                                        role in shaping a vibrant and cohesive
                                        European community that embraces
                                        diversity, nurtures talent, and thrives
                                        on the principles of lifelong learning
                                        and collaboration.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div
                        class="col-xl-4 col-lg-4 col-md-6 col-sm-8 col-12 blog-sidebar"
                    >
                        <div class="right-side-blog">
                            <h3>Other Activities</h3>
                            <div class="blog-categories">
                                <ul>
                                    <li>
                                        <a href="English-club"
                                            ><span>English-club</span></a
                                        >
                                    </li>
                                    <li>
                                        <a href="chnibanlk"
                                            ><span>Chnibanlk</span></a
                                        >
                                    </li>
                                    <li>
                                        <a href="discovery-workshop"
                                            ><span>discovery workshop</span></a
                                        >
                                    </li>
                                    <li>
                                        <a href="Tlila-Podcast"
                                            ><span>Tlila Podcast</span></a
                                        >
                                    </li>
                                    <li>
                                        <a href="OpenMiCultural"
                                            ><span>Open MiCultural</span></a
                                        >
                                    </li>
                                    <li>
                                        <a href="Philo-club"
                                            ><span>Philo club</span></a
                                        >
                                    </li>
                                    <li>
                                        <a href="Erasmus+"
                                            ><span>Erasmus+ </span></a
                                        >
                                    </li>
                                    <li>
                                        <a href="M'zora-Caravan"
                                            ><span>M'zora Caravan</span></a
                                        >
                                    </li>
                                    <li>
                                        <a href="Shumis-cinema-festival"
                                            ><span
                                                >Shumis cinema festival</span
                                            ></a
                                        >
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End details -->
        <!-- Start Gallery -->
        <div class="gallery-box">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="heading-title text-center">
                            <h2>Episodes</h2>
                            <p>Some photos from our jactivity</p>
                        </div>
                    </div>
                </div>
                <div class="tz-gallery">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <a class="lightbox" href="images/chnibanlk/ep1.jpg">
                                <img
                                    class="img-fluid"
                                    src="images/chnibanlk/ep1.jpg"
                                    alt="Gallery Images"
                                />
                            </a>
                            <a
                                class="lightbox"
                                href="images/downloads/Snapinsta.app_video_GLAXjw_--JJhhx8CACd0mLEQufowbvVBAAAF.mp4"
                            >
                            </a>
                            <a
                                class="lightbox"
                                href="images/chnibanlk/achbanlk1 (1).jpg"
                            >
                            </a>
                            <a
                                class="lightbox"
                                href="images/chnibanlk/achbanlk1 (2).jpg"
                            >
                            </a>
                            <a
                                class="lightbox"
                                href="images/chnibanlk/achbanlk1 (3).jpg"
                            >
                            </a>
                            <a class="lightbox" href="images/chnibanlk/ep1.jpg">
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-8 col-lg-8 text-center">
                            <div class="inner-column">
                                <h1><span>the right to be different</span></h1>
                                <h4>episode 1:</h4>
                                <p>
                                    I didn't find any thing to write her, if u r
                                    seeing this that meen that i didn't changed
                                    it yet please think about something to write
                                    her and contact me even if u didn't comeup
                                    with anything contact me u useless piece of
                                    shit
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <a class="lightbox" href="images/chnibanlk/ep2.jpg">
                                <img
                                    class="img-fluid"
                                    src="images/chnibanlk/ep2.jpg"
                                    alt="Gallery Images"
                                />
                            </a>
                            <a
                                class="lightbox"
                                href="images/downloads/achbanlk5 (2).jpg"
                            >
                            </a>
                            <a
                                class="lightbox"
                                href="images/downloads/achbanlk5 (5).jpg"
                            >
                            </a>
                            <a
                                class="lightbox"
                                href="images/downloads/achbanlk5 (4).jpg"
                            >
                            </a>
                            <a
                                class="lightbox"
                                href="images/downloads/achbanlk5 (1).jpg"
                            >
                            </a>
                            <a
                                class="lightbox"
                                href="images/downloads/achbanlk1 (3).jpg"
                            >
                            </a>
                            <a
                                class="lightbox"
                                href="images/downloads/achbanlk1 (2).jpg"
                            >
                            </a>
                            <a class="lightbox" href="images/chnibanlk/ep2.jpg">
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-8 col-lg-8 text-center">
                            <div class="inner-column">
                                <h1><span>Being a woman in Morocco</span></h1>
                                <h4>episode 2:</h4>
                                <p>
                                    What is it like being a woman in Morocco?
                                    How does the Moroccan society perceive
                                    women? Is it all about being a housewife or
                                    something more? Do women feel safe,
                                    respected and appreciated in our society?
                                    And if not, what can be done to improve the
                                    situation? Come discuss all these questions
                                    with us and more in the 2nd episode of
                                    Achbanlik: an event hosted by our
                                    association where we offer a safe space for
                                    young people to express their thoughts on
                                    meaningful social and cultural topics. As a
                                    community, we value free speech, open
                                    mindedness and mutual respect of everyone's
                                    perspectives
                                </p>
                                <h4>more</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <a class="lightbox" href="images/chnibanlk/ep3.jpg">
                                <img
                                    class="img-fluid"
                                    src="images/chnibanlk/ep3.jpg"
                                    alt="Gallery Images"
                                />
                            </a>
                            <a
                                class="lightbox"
                                href="images/downloads/achbanlk5 (2).jpg"
                            >
                            </a>
                            <a
                                class="lightbox"
                                href="images/downloads/achbanlk5 (5).jpg"
                            >
                            </a>
                            <a
                                class="lightbox"
                                href="images/downloads/achbanlk5 (4).jpg"
                            >
                            </a>
                            <a
                                class="lightbox"
                                href="images/downloads/achbanlk5 (1).jpg"
                            >
                            </a>
                            <a
                                class="lightbox"
                                href="images/downloads/achbanlk1 (3).jpg"
                            >
                            </a>
                            <a
                                class="lightbox"
                                href="images/downloads/achbanlk1 (2).jpg"
                            >
                            </a>
                            <a class="lightbox" href="images/chnibanlk/ep3.jpg">
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-8 col-lg-8 text-center">
                            <div class="inner-column">
                                <h1><span>Youth and Politics</span></h1>
                                <h4>
                                    episode 3: (Special Edition: 2021's National
                                    elections)
                                </h4>
                                <p>
                                    Why is our youth dismissive towards
                                    politics? Is there a loss of trust towards
                                    our political parties? Should we vote in the
                                    upcoming elections? Is it our national duty
                                    to vote? Why was the national election list
                                    of youth cancelled? Is another policy the
                                    solution? This month's episode will be all
                                    about our nation's political system and the
                                    level of engagement of our youth with this
                                    system. We will be hosting youth
                                    representatives of local political parties
                                    and discussing these questions with them in
                                    the 3rd episode of AchBanlek: an event
                                    hosted by our association, where we offer a
                                    safe space for young people to openly
                                    express their thoughts on meaningful social
                                    and cultural topics in an environment of
                                    mutual respect
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <a class="lightbox" href="images/chnibanlk/ep4.jpg">
                                <img
                                    class="img-fluid"
                                    src="images/chnibanlk/ep4.jpg"
                                    alt="Gallery Images"
                                />
                            </a>
                            <a
                                class="lightbox"
                                href="images/downloads/achbanlk5 (2).jpg"
                            >
                            </a>
                            <a
                                class="lightbox"
                                href="images/downloads/achbanlk5 (5).jpg"
                            >
                            </a>
                            <a
                                class="lightbox"
                                href="images/downloads/achbanlk5 (4).jpg"
                            >
                            </a>
                            <a
                                class="lightbox"
                                href="images/downloads/achbanlk5 (1).jpg"
                            >
                            </a>
                            <a
                                class="lightbox"
                                href="images/downloads/achbanlk1 (3).jpg"
                            >
                            </a>
                            <a
                                class="lightbox"
                                href="images/downloads/achbanlk1 (2).jpg"
                            >
                            </a>
                            <a class="lightbox" href="images/chnibanlk/ep4.jpg">
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-8 col-lg-8 text-center">
                            <div class="inner-column">
                                <h1><span>Sexual harassment</span></h1>
                                <h4>episode 4:</h4>
                                <p>
                                    Moroccan film and theater actor, musician,
                                    and training facilitator. He is the
                                    president/founder of LaraCultura NGO and a
                                    freelance project coordinator with
                                    experience working on Erasmus plus and
                                    European solidarity corps projects for over
                                    two years. He has also been involved in
                                    coordinating international festivals,
                                    workshops, training courses, conferences,
                                    and artistic activities in Morocco and
                                    abroad. He runs several projects for
                                    children and young people in Larache and
                                    underprivileged neighborhoods and has
                                    developed new methods for engaging
                                    disadvantaged populations.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <a class="lightbox" href="images/chnibanlk/ep5.jpg">
                                <img
                                    class="img-fluid"
                                    src="images/chnibanlk/ep5.jpg"
                                    alt="Gallery Images"
                                />
                            </a>
                            <a
                                class="lightbox"
                                href="images/downloads/achbanlk5 (2).jpg"
                            >
                            </a>
                            <a
                                class="lightbox"
                                href="images/downloads/achbanlk5 (5).jpg"
                            >
                            </a>
                            <a
                                class="lightbox"
                                href="images/downloads/achbanlk5 (4).jpg"
                            >
                            </a>
                            <a
                                class="lightbox"
                                href="images/downloads/achbanlk5 (1).jpg"
                            >
                            </a>
                            <a
                                class="lightbox"
                                href="images/downloads/achbanlk1 (3).jpg"
                            >
                            </a>
                            <a
                                class="lightbox"
                                href="images/downloads/achbanlk1 (2).jpg"
                            >
                            </a>
                            <a class="lightbox" href="images/chnibanlk/ep4.jpg">
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-8 col-lg-8 text-center">
                            <div class="inner-column">
                                <h1><span>Menta Health</span></h1>
                                <h4>episode 5:</h4>
                                <p>
                                    The topic of the episode has been chosen
                                    based on your votes on our Instagram and
                                    Facebook posts, and this time we'll be
                                    discussing the topic of Sexual Harassment .
                                    What constitutes sexual harassment? As a
                                    woman, man or child, do we feel safe walking
                                    on our streets? How does the Moroccan
                                    society deal with this subject? And is there
                                    social justice for the victims?
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <a class="lightbox" href="images/chnibanlk/ep6.jpg">
                                <img
                                    class="img-fluid"
                                    src="images/chnibanlk/ep6.jpg"
                                    alt="Gallery Images"
                                />
                            </a>
                            <a
                                class="lightbox"
                                href="images/downloads/achbanlk5 (2).jpg"
                            >
                            </a>
                            <a
                                class="lightbox"
                                href="images/downloads/achbanlk5 (5).jpg"
                            >
                            </a>
                            <a
                                class="lightbox"
                                href="images/downloads/achbanlk5 (4).jpg"
                            >
                            </a>
                            <a
                                class="lightbox"
                                href="images/downloads/achbanlk5 (1).jpg"
                            >
                            </a>
                            <a
                                class="lightbox"
                                href="images/downloads/achbanlk1 (3).jpg"
                            >
                            </a>
                            <a
                                class="lightbox"
                                href="images/downloads/achbanlk1 (2).jpg"
                            >
                            </a>
                            <a class="lightbox" href="images/chnibanlk/ep4.jpg">
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-8 col-lg-8 text-center">
                            <div class="inner-column">
                                <h1><span>Rasism in Morocco</span></h1>
                                <h4>episode 6:</h4>
                                <p>
                                    The sixth episode of Achbanlek is here 🤩!
                                    The topic of the episode has been chosen
                                    based on your votes, and this time we'll be
                                    discussing the topic of racism in Morocco!
                                    Racism is the beliefs or behaviors that a
                                    certain groups of people have allowing them
                                    to feel superior from other people. And this
                                    is generally based on previous prejudice,
                                    discrimination, or antagonism directed
                                    against other category of people due to
                                    their race, skin color, culture, believes or
                                    ethnicity. We can notice these behaviors
                                    even in our country! Between mountain people
                                    and Rifi’s, between south and north and
                                    sometimes even against South African
                                    immigrants.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <a class="lightbox" href="images/chnibanlk/ep7.jpg">
                                <img
                                    class="img-fluid"
                                    src="images/chnibanlk/ep7.jpg"
                                    alt="Gallery Images"
                                />
                            </a>
                            <a
                                class="lightbox"
                                href="images/downloads/achbanlk5 (2).jpg"
                            >
                            </a>
                            <a
                                class="lightbox"
                                href="images/downloads/achbanlk5 (5).jpg"
                            >
                            </a>
                            <a
                                class="lightbox"
                                href="images/downloads/achbanlk5 (4).jpg"
                            >
                            </a>
                            <a
                                class="lightbox"
                                href="images/downloads/achbanlk5 (1).jpg"
                            >
                            </a>
                            <a
                                class="lightbox"
                                href="images/downloads/achbanlk1 (3).jpg"
                            >
                            </a>
                            <a
                                class="lightbox"
                                href="images/downloads/achbanlk1 (2).jpg"
                            >
                            </a>
                            <a class="lightbox" href="images/chnibanlk/ep4.jpg">
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-8 col-lg-8 text-center">
                            <div class="inner-column">
                                <h1><span>Social Work in Larache</span></h1>
                                <h4>episode 7:</h4>
                                <p>
                                    On the first Episode of this season, we will
                                    talk about “Social Work in Larache”. So if
                                    you are a youth worker or interested in
                                    social work,
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <a class="lightbox" href="images/chnibanlk/ep8.jpg">
                                <img
                                    class="img-fluid"
                                    src="images/chnibanlk/ep8.jpg"
                                    alt="Gallery Images"
                                />
                            </a>
                            <a
                                class="lightbox"
                                href="images/downloads/achbanlk5 (2).jpg"
                            >
                            </a>
                            <a
                                class="lightbox"
                                href="images/downloads/achbanlk5 (5).jpg"
                            >
                            </a>
                            <a
                                class="lightbox"
                                href="images/downloads/achbanlk5 (4).jpg"
                            >
                            </a>
                            <a
                                class="lightbox"
                                href="images/downloads/achbanlk5 (1).jpg"
                            >
                            </a>
                            <a
                                class="lightbox"
                                href="images/downloads/achbanlk1 (3).jpg"
                            >
                            </a>
                            <a
                                class="lightbox"
                                href="images/downloads/achbanlk1 (2).jpg"
                            >
                            </a>
                            <a class="lightbox" href="images/chnibanlk/ep4.jpg">
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-8 col-lg-8 text-center">
                            <div class="inner-column">
                                <h1><span>Generational Conflict</span></h1>
                                <h4>episode 8:</h4>
                                <p>
                                    In the second season of Chni Balk, and its
                                    second episode, we will address the topic of
                                    “Generational Conflict” and its aspects
                                    either between families or within societies
                                    as a whole.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Gallery -->
        <!-- Start Contact info -->
        <div class="contact-imfo-box">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 arrow-right">
                        <i class="fa fa-volume-control-phone"></i>
                        <div class="overflow-hidden">
                            <h4>Phone</h4>
                            <p class="lead">+212–600 168 819</p>
                        </div>
                    </div>
                    <div class="col-md-4 arrow-right">
                        <i class="fa fa-envelope"></i>
                        <div class="overflow-hidden">
                            <h4>Email</h4>
                            <p class="lead">contact@laracultura.com</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <i class="fa fa-map-marker"></i>
                        <div class="overflow-hidden">
                            <h4>Location</h4>
                            <p class="lead">Larache, Morocco</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Contact info -->

        <!-- Start Footer -->
        <footer class="footer-area bg-f">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <h3>About Us</h3>
                        <p>
                            LaraCultura is a Moroccan NGO dedicated to
                            empowering young people and fostering cultural
                            exchange through non-formal educational and artistic
                            programs
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h3>Our Socials</h3>

                        <ul class="list-inline f-social">
                            <li class="list-inline-item">
                                <a
                                    href="https://www.facebook.com/LaraCultura.community"
                                    ><i
                                        class="fa fa-facebook"
                                        aria-hidden="true"
                                    ></i
                                ></a>
                            </li>

                            <li class="list-inline-item">
                                <a href="mailto:contact@laracultura.com"
                                    ><i
                                        class="fa fa-google"
                                        aria-hidden="true"
                                    ></i
                                ></a>
                            </li>
                            <li class="list-inline-item">
                                <a
                                    href="https://www.instagram.com/laracultura_ngo/"
                                    ><i
                                        class="fa fa-instagram"
                                        aria-hidden="true"
                                    ></i
                                ></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://wa.me/+212600168819"
                                    ><i
                                        class="fa fa-volume-control-phone"
                                        aria-hidden="true"
                                    ></i
                                ></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h3>Contact information</h3>
                        <p class="lead">Larache, Morocco</p>
                        <p class="lead">
                            <a href="https://wa.me/+212600168819"
                                >+212–600 168 819</a
                            >
                        </p>
                        <p>
                            <a href="mailto:contact@laracultura.com">
                                contact@laracultura.com</a
                            >
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h3>working hours</h3>
                        <p><span class="text-color">24/24h 7/7</span></p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer -->

        <a href="#" id="back-to-top" title="Back to top" style="display: none"
            ><i class="fa fa-paper-plane-o" aria-hidden="true"></i
        ></a>

        <!-- ALL JS FILES -->
        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <!-- ALL PLUGINS -->

        <script src="js/jquery.superslides.min.js"></script>
        <script src="js/images-loded.min.js"></script>
        <script src="js/isotope.min.js"></script>
        <script src="js/baguetteBox.min.js"></script>
        <script src="js/form-validator.min.js"></script>
        <script src="js/contact-form-script.js"></script>
        <script src="js/custom.js"></script>
    </body>
</html>
