<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>page not found - Laracultura NGO</title>
    <link rel="shortcut icon" href="images\logo01.png" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="amine l3ribi" />    <link rel="stylesheet" href="css/404.css" />
  </head>

  <body class="bg-purple">
   
      <div class="central-body">
        

        <img
          class="image-404"
          src="http://salehriaz.com/404Page/img/404.svg"
          width="300px"
        />
        <a
          href="/"
          class="btn-go-home"
          target="_blank"
          >GO BACK HOME</a
        >
      </div>
      <div class="objects">
        <img           class="object_earth"
         src="images/logo01.png" alt="" width="100px"/><br>
         <img           class="box_logo2" src="images/logo01.png" alt=""width="66px" /><br>
          <img           class="box_logo3"
           src="images/logo01.png" alt="" width="50px" /><br>
           <img           class="box_logo4"
            src="images/logo01.png" alt="" width="55opx" /><br>
            <img           class="box_logo5"
             src="images/logo01.png" alt=""  width="40px"/><br>
             <img           class="box_logo6"
              src="images/logo01.png" alt=""
              width="80px" /><br>
              <img           class="box_logo1"
              src="images/logo01.png" alt=""
              width="85px" /><br>
              
        <img
          class="object_rocket"
          src="http://salehriaz.com/404Page/img/rocket.svg"
          width="40px"
        />
        <div class="earth-moon">
          <!-- <img
            class="object_earth"
            src="http://salehriaz.com/404Page/img/earth.svg"
            width="100px"
          /> -->
          <img
            class="object_moon"
            src="http://salehriaz.com/404Page/img/moon.svg"
            width="80px"
          />
        </div>
        <div class="box_logo"style="top: 60%;right: 10%;">
          <img           class="object-logo" width="66px" 
      src="images/logo01.png"  style="top: 80%;right: 10%;"alt=""/><br>
</div>
<div class="box_logo">
     <img           class="object-logo"width="0px"
      src="images/logo01.png" alt="" /><br>
    </div>
    <div class="box_logo" style="top: 60%;right: 70%;">
     <img           class="object-logo"width="50px" 
      src="images/logo01.png" style="top: 70%;right: 7%;" alt=""/><br>
    </div>
    <div class="box_logo">
     <img           class="object-logo"width="35px"
      src="images/logo01.png" style="top: 20%; right: 90%;"alt="" /><br>
    </div>
    <div class="box_logo">
     <img           class="object-logo" width="35px" 
     src="images/logo01.png" style="top: 60%;right: 10%;"alt=""/><br>
    </div>
    <div class="box_logo">
     <img           class="object-logo"width="57px"
      src="images/logo01.png" alt="" /><br>
    </div>
        <div class="box_astronaut">
          <img
            class="object_astronaut"
            src="http://salehriaz.com/404Page/img/astronaut.svg"
            width="140px"
          />
        </div>
      </div>
      <div class="glowing_stars">
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
      </div>
    </div>
  </body>
</html>
